:root {
  --main-bg-color: #dfdfdf;
  --dark-bg-color: #3f3f3f;
}
html {
  width:100vw;
  overflow: hidden;
}
.loading {
  min-width: 5rem;
}

li.loading {
  width: 5em;
  line-height: 1.25;
  background-color: var(--main-bg-color) !important;
  border-radius: 0.75em !important;
  color: var(--main-bg-color) !important;
  margin-bottom: 0.25em;
  height:5em;
}
ul.tiled {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;

}
ul.tiled li {
  max-width: 10em;
  padding: .25em;
  margin: .125em;
  box-shadow: -2px -1px 4px rgba(0,0,0,.4);
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 5em;
  height: 5em;
  background-color: white;
  border-radius: 0;
  transition: all .5s;
}
